@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  /* th, td { white-space: nowrap; }
  div.dataTables_wrapper {
      margin: 0 auto;
  } */

  div.container {
      width: 80%;
  }
  .table {
    @apply font-sans table-fixed border-none border-collapse;
  }
  
  .table thead {
    @apply font-bold text-base border-b border-slate-200;
  }

  .table tbody {
    @apply text-slate-600 text-sm;
  }

  .table-striped tr {
    @apply odd:bg-white even:bg-slate-100 border-none;
  }

  .dataTables_wrapper td, .dataTables_wrapper th {
    @apply border-0 
  }

  .dataTables_wrapper {
    @apply max-w-[646px] mx-auto;
  }

  .dataTables_filter {
    @apply w-full max-w-[240px] mb-2;
  }

  .dataTables_filter input {
    @apply h-10 border border-slate-300 p-4 rounded;
  }

  .dataTables_length,
  .dataTables_info {
    @apply hidden;
  }

  .dataTables_paginate {
    @apply flex justify-center mt-6;
  }

  .dataTables_paginate span {
    @apply flex;
  }

  .paginate_button.previous, 
  .paginate_button.next {
    @apply hidden;
  }

  .paginate_button {
    @apply flex justify-center items-center text-slate-600 rounded-2xl h-8 w-8 cursor-pointer;
  }

  .paginate_button.current {
    @apply bg-green-600 text-white;
  }

}
